<div class="masthead clearfix">
    <div class="inner">
        <a href="{{@blog.url}}">
        <h3 class="masthead-brand">{{@blog.title}}</h3>
        </a>
        <nav>
            <ul class="nav masthead-nav">
            {{#foreach navigation}}
                <li class="{{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
            {{#if @labs.subscribers}}
             <li><button class="btn btn-default" href="{{@blog.url}}/subscribe/">Subscribe</button> </li>
            {{else}}
            <li>
            <button class="btn btn-default" href="{{@blog.url}}/rss/">Subscribe</button>
            </li>
            {{/if}}
            </ul>
        </nav>
    </div>
</div>
